*{

}
/* js */
.circulo{
	display: none;
}
/* js */
body{
	margin: 0;
	padding: 0;
}
/*nav-bar*/
nav{
	background: transparent;
	transition: .5s;
	
}
nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.bg-dark{
	background: rgba(0,0,0,.8) !important;
	box-shadow: 0 -50px 100px 16px rgba(0,0,0,0.8);
}
nav div.container a{
	display: flex;
	align-items: center;
}
nav div.container a.navbar-brand{
	display: initial;
}
a:hover{
	color: #06ffe7 !important;
}
nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.bg-dark .navbar-brand{
	display: inherit;
}
.navbar-brand{
	display: initial;
	letter-spacing: 2px;
	font-weight: 100;
	font-family: 'Pacifico', cursive;
}
nav div.container a.active{
	font-weight: 600;
}
.navbar-brand{
	font-style: italic;
}
.navbar-toggler-icon{

}
/*nav-bar*/
/*header*/
header{
	min-height: 400px;
	max-height: 900px;
	background: url('../img/02.jpg') center;
	background-size: cover;
}
header .circulo{
	position: absolute;
	top: 0;
	left: calc(50% - 25px);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #ffffff;
	transition: .5s;
	box-sizing: border-box;
}
header .circulo svg{
	position: absolute;
	height: 100%;
	padding: 10px;
	width: 100%;
}
header .sombra{
	display: flex;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.5);
	align-items: center;
}
header .sombra .container{
	
}
header .sombra .container img{
	padding: 50px;
	/*transform-style: preserve-3d;
	transform: perspective(1000px);
	transform: translateZ(20px);*/
}
/*header*/
/*about*/
.about .container h1{
	margin-bottom: 15px;
}
.about .container .row .col img{
	width: 100%;
	border-radius: 50%;
}
/*about*/
/*stadistic*/
.stadistics{
	background: url(../img/02.jpg) fixed;
	background-size: cover;
}
.stadistics .bronw{
	background: rgba(0,0,0,.5);
}
.stadistics .bronw .container{
	
}
.stadistics .bronw .container .row{

}
.stadistics .bronw .container .row{

}
.stadistics .bronw .container .row .col img{
	max-width: 50px
}
.stadistics .bronw .container .row .col svg{
	width: 5em;
	height: 5em;
}
.stadistics .bronw .container .row .col *{
	text-align: center;
	display: block;
	margin: 0 auto;
	color: #f5f5f5;
}
.stadistics .bronw .container .row .col .num{
	font-size: 37px;
	font-weight: 500;
	line-height: 39px;
	letter-spacing: 0.147em;
}
/*stadistic*/
/*Galery*/
.galery {
	margin-bottom: 7.5em;
}
.galery h1{}
.galery p.text-center {
	padding: 0 150px;
}
.galery .container .grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.galery .container .grid .img:nth-child(1){
	background: url(../img/11.jpg);
	background-size: cover;
}
.galery .container .grid .img:nth-child(2){
	background: url(../img/09.jpg);
	background-size: cover;
}
.galery .container .grid .img:nth-child(3){
	position: absolute;
	top: 1700px;
	background: url(../img/12.jpg);
	background-size: cover;
	border-radius: 1rem;
	box-shadow: 0 -50px 100px 16px rgba(0,0,0,0.6);
}
.galery .container .grid .img{
	width: 100%;
	min-height: 600px;
}

/*Galery*/
/*Ubicasion*/
.ubicasion{
	margin-bottom: 40px;
}
/*Ubicasion*/
/*footer*/

footer{
	box-sizing: border-box;
	color: #f5f5f5;
}
footer .row{
	box-sizing: border-box;
	padding: 25px 325px 10px 325px;
	margin: 0;
	background: #343a40c2;
}
footer .row .col {
	padding: 0;
}
footer .row .col h6{
	color: #00ffe7;
}
footer .row .col ul{
	box-sizing: border-box;
	padding: 0;
}
footer .row .col ul h6{
	color: #f5f5f5;
	cursor: pointer;
	margin-bottom:5px;
	font-size: 0.9rem
}
footer .row .col ul h6 a{
	color: #f5f5f5;
}
footer a{
	color: #00ffe7;
}
/*footer*/